.section-title {
  margin-bottom: 30px;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(-0.75rem);
  border-top-right-radius: calc(-0.75rem);
}
.card-title {
  margin-bottom: .75rem;
  color: #142cd4;
  margin-left: -226px;
}
.card-text:last-child {
  margin-bottom: 0;
  text-align: center;
  margin-right: 24px;
}
.h5,
h5 {
  font-size: 1.25rem;
  text-align: center;
  color: #666666;
}
.h3,
h3 {
  font-size: 1.75rem;
  text-align: center;
}
.h2,
h2 {
  font-size: 3rem;
  text-align: center;
  color: #0909bd;
}
.card {
  border: none;
}
.card-title:hover {
  color: red;
}
.btn {
  margin: auto;
  margin-top: 10px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  width: 67px;
  background-color: red;
  width: 105px;
  height: 4px;
}
p {
  color: #666666;
  width: 100%;
  display: block;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto 15px;
  font-style: italic;
  font-size: 15px;
}
p#text-style {
  text-align: center;
}
p.card-text {
  color: red;
}
.checked {
  color: orange;
}
i.fa.fa-star-half-full {
  color: orange;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}
