.type-1767{
    .section-title{
        margin-bottom: 30px;
    }
    .card-title {
    margin-bottom: 20px;
    color: #142cd4;
    }
    .card-text:last-child {
        margin-bottom: 0;
        text-align: center;
        margin-right: 24px;
    }
    .h5, h5 {
        font-size: 1.25rem;
        text-align: center;
        color: #666666;
    }
    .h3, h3 {
        font-size: 1.75rem;
        text-align: center;
    }
    .h2,h2 {
        font-size: 3rem;
        text-align: center;
        color: #0909bd;
        display: -webkit-box;   
        -webkit-line-clamp: 50;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card {
        border: none
    }

    .card-title:hover {
        color: #aab3ef;
    }
    .btn {
        margin: auto;
        margin-top: 10px;
    }
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
        width: 67px;
        background-color: red;
        width: 10%;
        height: 4px;
    }
    p {
        color: #666666;
        width: 100%;
        display: block;
        overflow: hidden;
        max-width: 600px;
        
        font-style: italic;
        font-size: 15px;
    }

    #text-style {
        text-align: center;
        margin: 0 auto 15px;
    }
    p.card-text {
        color: red;
    }
    .checked {
    color: orange;
    }
    i.fa.fa-star-half-full {
        color: orange;
    }
    img {
        vertical-align: middle;
        border-style: none;
        max-width: 100%;
        height: 270px;
    }
    @media (max-width: 300px) {
        .type-1767-card-title{
            margin-left: auto;
        }
        
    }
    @media (min-width: 991px)
    {
         p{
            margin-bottom: -10px;
        }
    }
    @media (max-width: 768px)
    {
        img{
            height: auto;
        }
    }

}


















