body {
  background-color: #25274d !important;
}
.type-813 {
  padding: 4%;
  height: 400px;
}
.type-813 .main {
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.type-813 .control-label {
  display: -webkit-box;
  -webkit-line-clamp: 50;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-813 .info {
  margin-top: 10%;
}
.type-813 .info img {
  margin-bottom: 15%;
}
.type-813 .info h2 {
  margin-bottom: 0%;
  display: -webkit-box;
  -webkit-line-clamp: 50;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-813 .info h4 {
  margin-top: 10%;
  margin-bottom: 10%;
  display: -webkit-box;
  -webkit-line-clamp: 50;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-813 .footer {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.type-813 .form label {
  font-weight: 600;
}
.type-813 .form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.type-813 .form button:focus {
  box-shadow: none;
}
.type-813 .form-control {
  margin-bottom: -10px;
}
.type-813 .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.type-813 .btn:hover {
  background: #7d7ea2;
}
@media (max-width: 360px) {
  .type-813 .form button {
    font-size: 0.7rem;
  }
}
